/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/**
 * HTML5 display-role reset for older browsers
 */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
} */
/**
 * End of Reset
 */

 /**
 * Start of Custom Styles
 */


html { 
  margin: 0; padding: 0;
  background: url(../images/montana.jpg) no-repeat top center fixed; 
  background-size: cover;
}

body {
	/*background-color: #D3D3D3;*/
	font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  border: 7px #8D8072 double;
  border-radius: 6px;
  background-color: white;
  height: 230px;
  width: 500px;
  margin: 135px auto;
  opacity: 0.6;
}

h2 {  /*cover flow entire page background*/
	color: #000;
	/*text-shadow: 2px 2px #A9A9A9;*/
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;
  /*background-color: rgba(151, 182, 205, 0.55);*/
  padding: 5px 12px;
  /*box-shadow: 0px 5px 0px 0px #3C93D5;*/
  /*margin: 4rem 4rem 2rem 4rem;*/
	border-radius: 10px
}

 .buttons {
 	padding-top: 4px;
  text-align: center;
  opacity: 0.7px;
  margin: -11px 96px;
 }

.btn {
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 0 10px 0 20px;
  color: #000;
  position: relative;
  width: 64px;
  height: 25px;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: #52e091;
  box-shadow: 0px 5px 0px 0px #1fad5e;
  float: right;
}

.green:hover {
  background-color: #a9efc8;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  float: left;
}

.blue:hover {
  background-color: #6FC6FF;
}


 


